Libertree.I18n = {
  'added-your-post-to-spring': <%= s_(%{%1$s added your %2$spost%3$s to a spring called "%4$s".}).to_json %>,
  'commented-on-post-plural': <%= s_("plural|%1$s commented on %2$s's %3$spost%4$s.").to_json %>,
  'commented-on-post-singular': <%= s_("singular|%1$s commented on %2$s's %3$spost%4$s.").to_json %>,
  'commented-on-your-post-plural': <%= s_("plural|%1$s commented on your %2$spost%3$s.").to_json %>,
  'commented-on-your-post-singular': <%= s_("singular|%1$s commented on your %2$spost%3$s.").to_json %>,
  'liked-comment-on-post-singular': <%= s_("singular|%1$s liked your %2$scomment%3$s on %4$s's post.").to_json %>,
  'liked-comment-on-your-post-singular': <%= s_("singular|%1$s liked your %2$scomment%3$s on your post.").to_json %>,
  'liked-comment-on-post-plural': <%= s_("plural|%1$s liked your %2$scomment%3$s on %4$s's post.").to_json %>,
  'liked-comment-on-your-post-plural': <%= s_("plural|%1$s liked your %2$scomment%3$s on your post.").to_json %>,
  'liked-your-post-singular': <%= s_("singular|%1$s liked your %2$spost%3$s.").to_json %>,
  'liked-your-post-plural': <%= s_("plural|%1$s liked your %2$spost%3$s.").to_json %>,
  'list-and': <%= s_('list-and| and ').to_json %>,
  'list-comma': <%= s_('list-comma|, ').to_json %>,
  'n-more': <%= _('%d more').to_json %>,
  'mentioned-you-in-post': <%= s_("%1$s mentioned you in a %2$spost%3$s.").to_json %>,
  'sent-you-direct-message': <%= s_('%1$s sent you a %2$smessage%3$s.').to_json %>,
  'no-notifications': <%= _('No notifications').to_json %>,
  '1-notification': <%= _('1 notification').to_json %>,
  'n-notifications': <%= _('%d notifications').to_json %>,
};

var partialBody;

/* Maybe we should use something like http://slexaxton.github.io/Jed/ */
Libertree.createI18nPartial = function(i18nKey, params) {
  partialBody = Libertree.I18n[i18nKey];
  jQuery.each( params, function( index, value ) {
    partialBody = partialBody.replace(
    new RegExp('%'+(index+1)+'\\$s'),
    value
    );
  } );
  Vue.partial( 'partial-i18n-'+i18nKey, partialBody );
};

Libertree.createI18nPartial(
  'commented-on-post-singular',
  [
    '{{actorsPhrase}}',
    '{{postMemberNameDisplay}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'commented-on-your-post-singular',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'commented-on-post-plural',
  [
    '{{actorsPhrase}}',
    '{{postMemberNameDisplay}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'commented-on-your-post-plural',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'liked-comment-on-post-singular',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
    '{{commentPostMemberNameDisplay}}',
  ]
);

Libertree.createI18nPartial(
  'liked-comment-on-post-plural',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
    '{{commentPostMemberNameDisplay}}',
  ]
);

Libertree.createI18nPartial(
  'liked-comment-on-your-post-singular',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}" class="foo">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'liked-comment-on-your-post-plural',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'liked-your-post-plural',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'liked-your-post-singular',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'added-your-post-to-spring',
  [
    '{{actorsPhrase}}',
    '<a href="{{postLink}}" title="{{glimpse}}">',
    '</a>',
    '<a href="{{poolLink}}">{{poolName}}</a>',
  ]
);

Libertree.createI18nPartial(
  'mentioned-you-in-post',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

Libertree.createI18nPartial(
  'sent-you-direct-message',
  [
    '{{actorsPhrase}}',
    '<a href="{{link}}" title="{{glimpse}}">',
    '</a>',
  ]
);

partialBody = Libertree.I18n['n-more'];
partialBody = partialBody.replace( new RegExp('%d'), '{{nMore}}' );
Vue.partial( 'partial-i18n-n-more', partialBody );
